.header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 26px 26px 0 0;
  overflow: hidden;
}

.header-left {
  display: flex;
  align-items: center;
  background: linear-gradient(75deg, #2f2f3a 80%, #282730);
  width: 100%;
  clip-path: polygon(0 0, 100% 0, calc(100% - 3rem) 100%, 0% 100%);
  padding-left: 20px;
}

.header-right {
  display: flex;
  justify-content: right;
  align-items: center;
  background: linear-gradient(-115deg, #2f2f3a 80%, #282730);
  width: 100%;
  margin-left: -50px;
  clip-path: polygon(3rem 0, 100% 0, 100% 100%, 0% 100%);
  padding-right: 20px;
}

.vs {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #212129;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 5px 8px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-style: italic;
}

.avatar {
  border-radius: 50%;
}

.left-badge {
  position: relative;
  right: 10px;
  top: 15px;
  border-radius: 50%;
}

.right-badge {
  position: relative;
  right: -10px;
  top: 15px;
  border-radius: 50%;
}

.left-info {
  padding-left: 5px;
}

.right-info {
  padding-right: 5px;
  text-align: right;
}

.waiting {
  color: #fd6a32;
}
